body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

nav {
    background-color: #0D47A1;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none; /* Initially hidden */
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: auto; 
    background-color: #f0f0f0;
    color: #333;
    font-size: 0.8rem;
}